/* merriweather-300 - latin */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/merriweather-v30-latin-300.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-300.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-300italic - latin */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/merriweather-v30-latin-300italic.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-300italic.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-700 - latin */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/merriweather-v30-latin-700.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-700.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-700italic - latin */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/merriweather-v30-latin-700italic.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-700italic.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-300 - latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/merriweather-v30-latin-ext-300.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-ext-300.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* merriweather-300italic - latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/merriweather-v30-latin-ext-300italic.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-ext-300italic.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* merriweather-700 - latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/merriweather-v30-latin-ext-700.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-ext-700.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* merriweather-700italic - latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/merriweather-v30-latin-ext-700italic.woff2') format('woff2'),
        url('/fonts/merriweather-v30-latin-ext-700italic.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/lato-v24-latin-300.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-300.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lato-v24-latin-regular.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-regular.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lato-v24-latin-700.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-700.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* lato-300 - latin-ext */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/lato-v24-latin-ext-300.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-ext-300.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* lato-regular - latin-ext */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lato-v24-latin-ext-regular.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-ext-regular.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* lato-700 - latin-ext */
@font-face {
    font-family: 'Lato';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lato-v24-latin-ext-700.woff2') format('woff2'),
        url('/fonts/lato-v24-latin-ext-700.woff') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* fira-code-regular - latin */
@font-face {
    font-family: 'Fira Code';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-code-v21-latin-regular.woff2') format('woff2'),
        url('/fonts/fira-code-v21-latin-regular.woff') format('woff');
}

/* fira-mono-regular - latin */
@font-face {
    font-family: 'Fira Mono';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-mono-v14-latin-regular.woff2') format('woff2'),
        url('/fonts/fira-mono-v14-latin-regular.woff') format('woff');
}
