:root {
    /* Colors */
    --colorBackground: #fff;
    --colorText: #121214;
    --colorLinks: #33D9D9;
    --colorLinksPressed: #1A8E8E;

    /* Fonts */
    --serifFontFamily: "Merriweather", "Book Antiqua", Georgia, "Century Schoolbook", serif;
    --sansFontFamily: "Lato", sans-serif;
    --monoFontFamily: "Fira Code", "Fira Mono", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
    /* Dark mode colours */
    :root {
        --colorBackground: #292d3e;
        --colorText: #fff;
        --colorLinks: #33d9d9;
        --colorLinksPressed: #60e1e1;
    }
}

* {
    box-sizing: border-box;
    font-size: 18px;
    max-width: 450px;
    margin: auto;
}

body {
    display: block;
    font-family: var(--serifFontFamily);
    line-height: 1.75;
    background-color: var(--colorBackground);
    color: var(--colorText);
}

div.content {
    padding: 0, 60px;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

a {
    color: var(--colorLinks);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}